* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

body::before {
  content: '';
  width: 100%;
  height: 436px;

  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: #535971;
}

.page {
  width: 750px;
  margin: 0 auto;
}

header {
  margin-top: 140px;
  width: 417px;
}

header h1 {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;

  color: #ffffff;

  margin-bottom: 18px;
}

header p {
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}

form {
  border: none;
  margin-top: 58px;
  background: #fafafc;
  border-radius: 8px 8px 0px 0px;
  min-height: 300px;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: 'Staatliches';
  font-size: 24px;
  line-height: 34px;

  color: #535971;
  width: 100%;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
  margin-bottom: 36px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #535971;
}

.col-1 {
  display: flex;
  gap: 22px;
}

.col-1 > div:nth-child(1) {
  width: 50%;
}

.col-1 > div:nth-child(2) {
  width: 50%;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.col-2 > div:nth-child(1) {
  width: 50%;
}

.col-2 > div:nth-child(2) {
  width: 25%;
}

.col-2 > div:nth-child(3) {
  width: 25%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 8px;

  color: #4e4958;
}

.input-wrapper label span {
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 20px;

  margin-left: 7px;

  color: #c1bccc;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 56px;
  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #6c6a71;
}

h4 {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: #535971;
}

footer {
  background: #535971;
  display: flex;
  flex-direction: column;

  padding: 52px 71px;
  margin-bottom: 100px;

  border-radius: 0px 0px 20px 20px;
}

footer .button {
  font-family: 'Staatliches';
  font-size: 20px;
  line-height: 26px;
  border-radius: 20px;
  color: #ffffff;

  padding: 15px 40px;

  border: none;

  background: #ff5374;
}

footer .button:hover {
  background: #c9425d;
}
